@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  z-index: 9999 !important;
}

.modal, .dialog, .dropdown, .table {
  z-index: 9998 !important;
}

@media (max-width: 500px) {
  .hide-below-500 {
    display: none;
  }
}